.navbar-toggler{
  color: rgb(0, 255, 0);
}
.nav-link{
  color: rgb(0, 255, 0);
}
.nav-link:hover{
  color: rgb(0, 185, 0);
  cursor: pointer;
}

.nav-link:active{
  color: rgb(57, 255, 20);
}
.navbar-brand{
  color: rgb(0, 255, 0);
}
.navbar-brand:hover{
  color: rgb(0, 145, 0);
}
.nav{
  z-index:1055;
}
