<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card-columns">
        <div class="card" *ngFor="let post of posts">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="mr-3">
                <img [src]="post.user?.profile_image" class="rounded-circle" style="height: 40px; width: 40px;">
              </div>
              <div>
                <h6 class="mb-0">{{ post.user?.name }}</h6>
                <p class="text-muted mb-0">{{ post.createdAt | date: 'MMM d, yy, HH:mm': 'tr' }}</p>
              </div>
            </div>
            <hr>
            <p class="card-text">{{ post.content }}</p>
            <img *ngIf="post.imageUrl" [src]="post.imageUrl" class="img-fluid mb-3">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <i class="fa fa-heart mr-1" *ngIf="checkLiked(user?._id)" (click)="dislike(user?._id, post)"></i>
                <i class="fa fa-heart-o mr-1" *ngIf="!checkLiked(user?._id)" (click)="addlike(user?._id, post)"></i>
                <span class="mr-2">{{ post.likeCount }}</span>
                <i class="fa fa-comment mr-1"></i>
                <span>{{ post.commentCount }}</span>
              </div>
              <a class="btn btn-primary" [routerLink]="'/posts/' + post._id">Post'a Git</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
