<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card-columns">
        <div class="card" *ngFor="let post of posts">
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <div class="mr-3">
                <ng-container *ngIf="post.user?.profile_image && post.user?.profile_image !== 'default.jpg'; else defaultImage">
                  <img [src]="serverURL + '/' + post.user?.profile_image" class="rounded-circle" style="height: 40px; width: 40px;">
                </ng-container>
                <ng-template #defaultImage>
                  <img src="../../assets/Default_p.jpg" class="d-block rounded-circle" style="height: 40px; width: 40px;">
                </ng-template>
              </div>
              <div class="d-flex flex-column">
                <div class="d-flex align-items-center ml-3">
                  <h6 class="mb-1 mr-2">{{ post.user?.name }}</h6>
                  <p class="text-muted mb-1"> | {{ post.createdAt | date: 'MMM d, yy, HH:mm': 'tr' }}</p>
                </div>
              </div>
            </div>
            <p class="card-text mt-2 text-left">{{ post.content }}</p>
            <img *ngIf="post.imageUrl" [src]="post.imageUrl" class="img-fluid mb-3" style="width: 100%;">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <ng-container *ngIf="loggedIn()===true; else dat">
                  <i class="fa fa-heart-o mr-1" *ngIf="checkLiked(post.user._id)===false" (click)="addlike(post)"></i>
                 <i class="fa fa-heart mr-1" *ngIf="checkLiked(post.user._id)!==false" (click)="dislike(post)"></i>
                  
                </ng-container>
                <ng-template #dat>
                 <i class="fa fa-heart-o mr-1" (click)="alert()" title="Bu özelliği kullanmak için giriş yapmanız gerekmektedir"></i>
                </ng-template>
                <span class="mr-2">{{ post.likeCount }}</span>
                <i class="fa fa-comment mr-1"></i>
                <span>{{ post.commentCount }}</span>
              </div>
              <a class="btn btn-primary" [routerLink]="'/posts/' + post._id">Post'a Git</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
