<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <ul class="nav justify-content-center mt-3">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/newpost" title="yeni yazı oluşturmak için tıklayınız">
            <i class="fa fa-plus"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-user-section></app-user-section>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-dashboardposts></app-dashboardposts>
    </div>
  </div>
</div>
